<div id="mySidepanel" class="sidepanel">
	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	<div>
		<img alt="Editar dados" onclick="location.href='/admin_editar';" style="cursor: pointer;" class="mx-auto d-block" src="<%=foto%>" width="128px" height="128px">
		<h6 class="fw-bold mt-4">
			Bem-vindo: <%=usuario%><br>
			Administrador<br>
		</h6>
		<a href="/logout" class="btn d-grid btn-danger mb-3">Sair</a>
	</div>
	<div class="menu">
		<ul>
			<a href="/administrador"><li class="p-1 ps-3" style="cursor:pointer;">
				Início
			</li></a>
			<a href="/administrador_aluno"><li class="p-1 ps-3" style="cursor:pointer;">
				Alunos
			</li></a>
			<a href="/administrador_professor"><li class="p-1 ps-3" style="cursor:pointer;">
				Professores
			</li></a>
			<a href="/administrador_disciplina"><li class="p-1 ps-3" style="cursor:pointer;">
				Disciplinas
			</li></a>
			<a href="/administrador_horario"><li class="p-1 ps-3" style="cursor:pointer;">
				Horário
			</li></a>
			<a href="/administrador_turma"><li class="p-1 ps-3" style="cursor:pointer;">
				Turma
			</li></a>
		</ul>
	</div>
</div>
<button class="openbtn btn btn-dark position-absolute" onclick="openNav()">&#9776;</button>