<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Notas</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/aluno/notas.css">
    <link rel="stylesheet" href="../../css/sidepanel-menu.css">
    <link rel="icon" type="image/x-icon" href="../../images/favicon.ico" />
    <script src="../../js/sidepanel-menu.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="header p-3">
            <header>
                <h1 class="title fw-bold floatleft">PGE</h1>
                <h1 class="fw-bold center mt-md-2">Fatec Zona Sul</h1>
                <h1 class="fw-bold floatright">MEC</h1>
            </header>
        </div>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 border border-3 border-dark p-4">
                        <div id="mySidepanel" class="sidepanel">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div>
                                <img class="mx-auto d-block" src="../../images/user.png">
                                <h6 class="fw-bold">
                                    João<br />
                                    Em curso<br />
                                    Período Matutino<br />
                                    RA: 1234
                                </h6>
                                <a href="../../index.html" class="btn d-grid btn-danger mb-3">Sair</a>
                            </div>
                            <div class="menu">
                                <ul>
                                    <li class="p-1 ps-3" onclick="location.href='main.html';" style="cursor:pointer;">
                                        Início</li>
                                    <li class="p-1 ps-3" onclick="location.href='notas.html';" style="cursor:pointer;">
                                        Notas
                                    </li>
                                    <li class="p-1 ps-3" onclick="location.href='faltas.html';" style="cursor:pointer;">
                                        Faltas
                                    </li>
                                    <li class="p-1 ps-3" onclick="location.href='horario.html';"
                                        style="cursor:pointer;">
                                        Horário
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="openbtn btn btn-dark position-absolute" onclick="openNav()">&#9776;</button>
                        <div class="row">
                            <h1 class="title2 fw-bold text-center">Notas</h1>
                            <hr class="border border-dark border-1">
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>

                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-3 py-4 px-5">
                                <h5 class="text-center fw-bold">Português</h5>
                                <p>P1:</p>
                                <p>P2:</p>
                                <p>T:</p>
                                <p>Média Final:</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="position-absolute start-50 translate-middle-x">© 2022 PGE</footer>
        </main>
    </div>
</body>

</html>